<!-- ===========================================
=====         Contact section               ====
============================================ -->
<section  id="contact">
  <div class="section-block-title">
    <div class="section-title">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <article class="section-title-body">
              <h1 class="head-title wow fadeInDown animated" data-wow-duration="1.5s">Contact</h1>
              <p class="head-text wow fadeInUp animated" data-wow-duration="1.5s">

              </p>
            </article>
          </div>
        </div>
      </div>
    </div><!--/section-title-->
  </div><!--/section-block-title-->
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">

          <p>
            Digital Co est une équipe de 10 développeurs web et mobile experts dans les technologies Ruby, PHP et JS. Nous sommes basée à Nantes et Paris.
          </p>
          <p>
            Adresse de Nantes : 2 rue de Curcy,  44000 - Nantes
            <br/>
            Adresse de Paris : 119 boulevard de Sébastopol, 13-17 passage du Ponceau, 75002 - Paris.
          </p>
          <br>
          <h4 class="widget-title"><i class="ion-android-call"></i>Phone:</h4>

          <p> +33 (0)2 40 14 92 99

          </p>
          <br>
          <h4 class="widget-title"><i class="ion-email"></i>Email:</h4>
          <p>
            <A HREF="mailto:contact@digital-co.fr">contact@digital-co.fr</A>
            <br>

          </p>
          <br>
        </div>
        <div class="col-md-6 col-sm-6">
          <div id="form-wrapper">
            <div id="form-inner">
              <div id="ErrResults"><!-- Error Here --></div>
              <div id="MainResult"><!-- Response Here --></div>
              <div id="MainContent">
                <form id="MyContactForm" name="MyContactForm" method="post" action="/send_mail">
                  <p class="name">
                    <input type="text" name="name" id="name" placeholder="Votre Nom & Prénom">
                    <label for="name" id="nameLb"><span class="error">*champ obligatoire</span></label>
                  </p>
                  <p>
                    <input type="email" name="email" id="email" placeholder="Email">
                    <label for="email" id="emailLb">
                      <span class="error error1">*champ obligatoire </span>
                    </label>
                  </p>
                  <p>
                    <input type="text" name="phone" id="phone" placeholder="Téléphone">
                    <label for="phone" id="phoneLb"><span class="error">*champ obligatoire </span></label>
                  </p>
                  <p class="textarea">
                    <textarea name="message" id="message" placeholder="Votre Message" rows="4"></textarea>
                    <label for="message" id="messageLb"><span class="error">*champ obligatoire </span></label>
                  </p>
                  <div class="clearfix"></div>
                  <button type="submit" class="contact-btn">Envoyer Message</button>
                </form>
              </div><!--MainContent-->
            </div><!--form-inner-->
          </div><!--form-wrapper-->
        </div><!--/.col-md-8-->
      </div>
    </div>
  </div>
  <div class="google-map"style="margin-top: 10px;">
    <iframe src="//www.google.com/maps/embed/v1/place?q=119 Boulevard de Sébastopol, Paris&zoom=13
      &key=AIzaSyARM-giEZuBPClKsRC5sIRxuChrgm2f8Yo">
    </iframe>
  </div>
</section>