<section  id="services">
  <div class="section-block-title">
    <div class="section-title">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <article class="section-title-body">
              <h1 class="head-title wow fadeInDown animated" data-wow-duration="1.5s">La méthode DigitalCo</h1>
              <p class="head-text wow fadeInUp animated" data-wow-duration="1.5s">
                Bénéficiez d'une méthode qui à fait ses preuves
              </p>
            </article>
          </div>
        </div>
      </div>
    </div><!--/section-title-->
  </div><!--/section-block-title-->
  <div class="block2">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="block-feature-icon center">
            <div class="icon hi-icon-color hi-icon-effect">
              <span class="hi-icon"><i class="ion-ios-pie-outline"></i></span>
            </div>
            <div class="block-title">
              <h4 class="head-title-rose">Conseil fonctionnel</h4>
              <p>Nos experts vous
                accompagnent en
                amont du
                développement sur la
                mise en place de vos
                spécificités
                fonctionnelles</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="block-feature-icon center">
            <div class="icon hi-icon-color hi-icon-effect">
              <span class="hi-icon"> <i class="ion-cube"></i></span>
            </div>
            <div class="block-title">
              <h4 class="head-title-rose">Architecture</h4>
              <p>Le succès d'un projet
                passe par une bonne
                architecture. Nos
                experts conçoivent
                pour votre projet une
                architecture
                performante et
                évolutive.</p>
            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="block-feature-icon center">
            <div class="icon hi-icon-color hi-icon-effect">
              <span class="hi-icon"><i class="ion-android-checkbox-outline"></i></span>
            </div>

            <div class="block-title">
              <h4 class="head-title-rose">Mise en place</h4>
              <p>Nos experts
                interviennent sur la
                planification de la
                phase de
                développement en
                privilégiant le mode
                agile.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="block-feature-icon center">
            <div class="icon hi-icon-color hi-icon-effect">
              <span class="hi-icon"><i class="ion-code"></i></span>
            </div>

            <div class="block-title">
              <h4 class="head-title-rose">Développement</h4>
              <p>Nos experts
                développent vos outils
                web en respectant votre
                besoin fonctionnel tout
                en appliquant les best
                practice de
                développement visant à
                vous fournir un code de
                qualité.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="block-feature-icon center">
            <div class="icon hi-icon-color hi-icon-effect">
              <span class="hi-icon"><i class="ion-pull-request"></i></span>
            </div>
            <div class="block-title">
              <h4 class="head-title-rose">Suivi</h4>
              <p>DigitalCo vous met à
                disposition les
                meilleurs outils de
                suivi ainsi que des
                outils de gestion de
                versioning.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="block-feature-icon center">
            <div class="icon hi-icon-color hi-icon-effect">
              <span class="hi-icon"> <i class="ion-ios-settings"></i></span>
            </div>
            <div class="block-title">
              <h4 class="head-title-rose">Test et qualité</h4>
              <p>Le succès d'un projet
                passe par sa qualité de
                mise en œuvre. Ainsi
                nos experts sont très
                strictes sur la
                conformité
                fonctionnelle et la
                qualité du code source.</p>
            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="block-feature-icon center">
            <div class="icon hi-icon-color hi-icon-effect">
              <span class="hi-icon"><i class="ion-ios-cloud-outline"></i></span>
            </div>

            <div class="block-title">
              <h4 class="head-title-rose">Hosting</h4>
              <p>Nous sommes en
                mesure de vous
                conseiller
                techniquement sur les
                choix concernant
                l'hébergement de vos
                outils web.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="block-feature-icon center">
            <div class="icon hi-icon-color hi-icon-effect">
              <span class="hi-icon"><i class="ion-ios-world-outline"></i></span>
            </div>

            <div class="block-title">
              <h4 class="head-title-rose">TMA</h4>
              <p>Nos experts vous
                accompagne avant,
                pendant mais aussi
                après la mise en ligne
                de votre projet. Nous
                sommes toujours
                disponible pour vos
                taches de maintenance.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>