<section id="home">
  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul class="list-unstyled">
        <li data-transition="fade" data-slotamount="7"  data-delay="6000">

          <!-- MAIN IMAGE -->


          <video id="vid" max-width="100%" controls autoplay loop='true' muted>
            <source src="Keyboard_tapping_2.mp4" type="video/mp4">
            <source src="Keyboard_tapping_2.webm" type="video/webm" controls>
            Your browser does not support the video tag.
          </video>
          <div class="tp-caption  sfb skewtobottom  rs-parallaxlevel-2"
               data-x="center"
               data-y="155"
               data-speed="1000"
               data-start="1000"
               data-easing="Back.easeOut"
               data-endspeed="400"
               data-endeasing="Power1.easeIn"
          > <%= image_tag "preview/slider/logo.png" %>
          </div>
          <div class="tp-caption active_heavy_100 sft skewtobottom text-center"
               data-x="center"
               data-y="255"
               data-speed="1000"
               data-start="1000"
               data-easing="Back.easeOut"
               data-endspeed="400"
               data-endeasing="Power1.easeIn"
          >
          </div>
          <div class="tp-caption white_heavy_70 sft skewtobottom text-center"
               data-x="center"
               data-y="455"
               data-speed="1000"
               data-start="2000"
               data-easing="Back.easeOut"
               data-endspeed="400"
               data-endeasing="Power1.easeIn"
          >Le partenaire pour vos projets Ruby, Symfony et JS.
          </div>

        </li>

      </ul>
    </div>
  </div>
</section>
