<section  id="team">
  <div class="section-block-title">
    <div class="section-title">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <article class="section-title-body">
              <h1 class="head-title wow fadeInDown animated" data-wow-duration="1.5s">Team</h1>
              <p class="head-text wow fadeInUp animated" data-wow-duration="1.5s">
                You can meet our creative teams
              </p>
            </article>
          </div>
        </div>
      </div>
    </div><!--/section-title-->
  </div><!--/section-block-title-->

  <div class="block2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <article class="author-block">
            <figure class="figure-hover-overlay">
              <div class="author-information">
                <h4>Tom Carry</h4>
                <p class="author-prof">Co Founder & Ceo</p>
                <p class="hidden-xs">
                  Phone: 800-900-2200<br><a href="mailto:support@yoursite.com">support@yoursite.com </a>
                </p>
                <ul class="author-icon list-unstyled">
                  <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                  <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                  <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                </ul>
              </div>
              <img class="img-responsive" src="http://placehold.it/950x550" alt="" title="">
            </figure>
          </article>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <article class="author-block">
            <figure class="figure-hover-overlay">
              <div class="author-information">
                <h4>Anna Beaton</h4>
                <p class="author-prof">Marketing manager</p>
                <p class="hidden-xs">
                  Phone: 800-900-2200<br><a href="mailto:support@yoursite.com">support@yoursite.com </a>
                </p>
                <ul class="author-icon list-unstyled">
                  <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                  <li><a href="#"><i class="ion-social-skype"></i></a></li>
                  <li><a href="#"><i class="ion-social-whatsapp"></i></a></li>
                </ul>
              </div>
              <img class="img-responsive" src="http://placehold.it/950x550" alt="" title="">
            </figure>
          </article>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
          <article class="author-block">
            <figure class="figure-hover-overlay">
              <div class="author-information">
                <h4>Jimmy Fletcher</h4>
                <p class="author-prof">Designer</p>
                <p class="hidden-xs">
                  Phone: 800-900-2200<br><a href="mailto:support@yoursite.com">support@yoursite.com </a>
                </p>
                <ul class="author-icon list-unstyled">
                  <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                  <li><a href="#"><i class="ion-social-skype"></i></a></li>
                  <li><a href="#"><i class="ion-social-whatsapp"></i></a></li>
                </ul>
              </div>
              <img class="img-responsive" src="http://placehold.it/950x550" alt="" title="">
            </figure>
          </article>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <article class="author-block">
            <figure class="figure-hover-overlay">
              <div class="author-information">
                <h4>Rodney Stratton</h4>
                <p class="author-prof">Developer</p>
                <p class="hidden-xs">
                  Phone: 800-900-2200<br><a href="mailto:support@yoursite.com">support@yoursite.com </a>
                </p>
                <ul class="author-icon list-unstyled">
                  <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                  <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                  <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                </ul>
              </div>
              <img class="img-responsive" src="http://placehold.it/950x550" alt="" title="">
            </figure>
          </article>
        </div>
      </div>
    </div>
  </div>


</section>
