<section>
  <div class="block">
    <div class="container">
      <div class="section-sub-title center">
        <article class="section-title-body">
          <h1 class="head-title head-title-rose">Confiez vos projets entre les mains d'experts Ruby, Symfony et JS</h1>
          <p class="head-text">

            <span>
              DigitalCo
            </span>, est une agence digitale composée d'experts spécialisés dans le développement avec
            Ruby, Symfony et JS. Fort d'une implantation à Nantes et à Paris nos 10 experts peuvent vous
            accompagner sur vos projets en toute agilité.
          </p>
          <a href="" class="btn-default">Testez nos experts pendant 5 jours à -50%</a>
        </article>
      </div>
    </div>
  </div>
</section>